
  @import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Mate+SC&display=swap');
  
  
  :root{
      --grey:#303030;
      --gold:#58480F;
    }
    
    body{
        margin:0;
        padding:0;
        
    }
    
    header{
        max-width:100%;
        background-color: var(--gold);
    }
    
    #header1{ 
        max-width:100%;
        height:700px;
        
        display:flex;
        align-items: center;
        justify-content: flex-start;
        
        background-image: url("./assets/profile1.png");
        background-position:right top;
        background-repeat: no-repeat;
        background-size: 700px;
    }
    
    #header1 h1{
        width:50%;
        color:white;
        font-size: 4vw;
        text-align: center;
    }
    
    
    @media screen and ( max-width: 900px){
        #header1{
            height:600px;
            justify-content:center;
            align-items: flex-end;
            background-position: center top;
            background-size: 600px;
        }
        
        #header1 h1{
            width:100%;
            padding:0;
            font-size:8vw;
            
        }
    }
    @media screen and (max-width:400px){
        #header1 {
        height:400px;
        background-size: 400px;
        }
        #header1 h1{
            font-size:2em;
        }
    }
    
/* ------------------Global Section Style--------------------*/
.sectionTitle{
    width:100%;
    height:200px;
    
    display:flex;
    justify-content: center;
    align-items: center;
    
    background-color:black;
    color:white;
    border-top:solid 3px;
    border-color: white;

    cursor: pointer;
}

    .sectionBackground{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width:100%;
        border-top:solid 3px;
        border-color: white;

        padding-bottom:200px;

        
        background-image: url("./assets/aboutBG.jpg");
        background-repeat: no-repeat;
        background-position: left top;
        background-size: cover;
    }
    
    .inactive{
        display:none;
        animation-name: open;
        animation-duration: 1s;
    }

    .active{
        display:flex;
        
    }

    .sectionContainer{
        max-width:1000px;
        width:100%;
        display: flex;
        justify-content:center;
    }
    

.sectionContent{
    display:flex;
    justify-content: flex-end;
    width:100%;
    padding:5%;
}

/* -------------Section Specific----------------- */
/* -----about---------- */
#about{
    width:60%;
    padding:5%;
    padding-top:0;
    text-align: justify;
    color:white;
    background-color: rgba(0,0,0, .5);
}


/* -------Reel -------- */
#reel{
   width:100%;
}   

.yt{
    aspect-ratio: 16/9;
    width:100%
}

/* -------contact----------- */
#contact{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    padding-top:0;
    color:white;
    background-color: rgba(0,0,0, .5);
}

.info{
    width: 40%;
    padding-left:20px;
    padding-right:10px;
}



@media screen and (max-width:850px){
    .sectionBackground{
        background-image: none;
        background-color: var(--grey);
    }
    
    .sectionContainer{
        background-color: var(--grey);
    }
    
    #about{
        width:75%;
        margin:auto;
        background-color:transparent;
    }
    

}